
.service_item span i{
    font-size: 3rem;
    color: #f9a826;
  
    
}
.service_item{
    text-align: center;
}

.service_item h6{
    font-size: 1.2rem;
    font-weight: 600;
    transition: 0.3s;
}

.service_item h6:hover{
    color: #f9a826;
}
.service_item:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 9px;
    transition: 0.5s;
}

 @media only screen and (max-width:768px) {
    .service_item h6{
        font-size: 1.1rem;
    }
} 

@media only screen and (max-width:390px){
    .about_section{
        width: 106%;
    }
    section{
        width: 106%;
    }
    .service_item{
        width: 106%;
    }
}

@media only screen and (max-width:414px){
    .service_item{
        width: 112%;
    }
}


